<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Contact</h1>
    <form action="/add" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" placeholder="Name" required>
        <br>
        <label for="eml">Email: </label>
        <input type="text" name="eml" placeholder="Email@email.com" required>
        <br>
        <label for="phone">Phone Number: </label>
        <input type="text" name="phone" placeholder="***-***-****" required>
        <br>
        <input type="submit">
    </form>
    <a href="/">Back to Contact List</a>
</body>
</html>
